.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.paginationItem {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    background-color: #1f2328;
    color: white;
    padding: 10px;
    height: 30px;
    width: 30px;

    &.current {
        border: 1px solid #1f2328;
        color: #1f2328;
        background-color: white;
    }
}
