.repoCard {
    border: 1px solid #cacaca;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.repoName {
    font-weight: bold;
}

.repoStars {
    font-weight: bold;
}

.repoLink {
    display: inline-block;
}
