.repoPage {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.repoTitle {
    font-weight: bold;
    font-size: 30px;
}

.repoOwner {
    display: flex;
    align-items: center;
    gap: 10px;

    & > img {
        height: 60px;
        width: 60px;
        border-radius: 20px;
        object-fit: cover;
    }
}

.repoLangs {
    display: flex;
    gap: 10px;
}
